@chartset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Codystar:wght@300;400&family=Comic+Relief:wght@400;700&family=Exile&family=Exo:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Ribeye&family=Slabo+27px&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Codystar:wght@300;400&family=Comic+Relief:wght@400;700&family=Exile&family=Exo:ital,wght@0,100..900;1,100..900&family=Lobster&family=Poetsen+One&family=Ribeye&family=Slabo+27px&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --font1: "verdana";
    --font2: 'Anton';
    ;
    --font3: "Ribeye", serif;

    --cor1: black;
    --cor2: white;

}

html,
body {
    min-height: 100vh;
    background-color: var(--cor1);
    font-family: var(--font1);


}

header {
    background-color: var(--cor1);
    color: var(--cor2);
    text-align: center;


}

header>h1 {
    padding: 20px;
    margin-top: 10px;
    color: var(--cor2);
    font-family: var(--font2);
    font-size: 50px;
    font-variant: small-caps;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font3);
    padding-left: 2em;
    font-size: 3.5vw;
}

.normal {
    color: var(--cor1);
    background-color: var(--cor2);
}

.imagem {
    background-color: var(--cor2);
    color: var(--cor2);
    box-shadow: 6px 6px 13px 0px solid black;
    background-size: cover;
    background-attachment: fixed;

}

#imagem1 {
    background-image: url(./img/plano\ de\ fundo.jpg);

}

#imagem2 {
    background-image: url(./img/PLANO\ DE\ FUNDO2.jpg);
    background-position: right;
}
.imagem >p{
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
footer{
    background-color: black;
    color: white;
    text-align: center;}
    
    a{
        text-decoration: none;
        color: white;

    }